.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xl);
}

.navbar {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  letter-spacing: rem(-0.25px);
}

.link {
  max-width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-radius: 3px;
  font-weight: 500;
  padding: 1rem 0;

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    & .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }
  &.active {
    &,
    &:hover {
      transition: all 0.2s ease;
      background-color: light-dark(
        var(--mantine-color-dark-0),
        var(--mantine-color-dark-6)
      );
      color: var(--mantine-color-text);

      & .linkIcon {
        color: var(--mantine-color-text);
      }
    }
  }
}

.linkIcon {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  width: rem(2rem);
  height: rem(2rem);
  flex: 1;
}

.footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-top: var(--mantine-spacing-md);
}

.header {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  z-index: 9999;
}
